html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    /*text-align: center;*/
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/*****Main page - leyout*****/
body {
    background-color: #eee;
}
.th-navbar-default {
    background-color: white;
}
.th-jumbotron {
    background-color: white;
}
#login-form input[type="email"], #login-form input[type="text"], #login-form input[type="password"], div.th-test-from input[type="text"], div.th-register-from input[type="password"], div.th-register-from input[type="email"], div.th-register-from input[type="text"], div.th-test-from textarea.questionField, .question-answer input[type="text"], .question-answer input[type="number"] {
    margin: 1em 0 0.5em 0;
    width: 26%;
    min-width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 6px;
}
div.form label {
    font-weight: bold;
    font-size: 0.9em;
    display: block;
}
div.form .row {
    margin: 5px 0;
}
.th-submit-button,.create-test-button,.login-button,.signup-button,.start-test-button,.submit-answer-button,.skip-question,.end-test-button,.my-tests-button,.general-button
{
    background: #ff9251;
    border: 1px solid transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9251
    ), color-stop(1, #ff9251));
    background: -moz-linear-gradient(center top, #ff9251 5%, #ff9251 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#829db2',
    endColorstr='#ff9251');
    background-color: #ff9251;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #829db2;
    display: inline-block;
    color: #ffffff;
    font-family: Georgia, Arial, Helvetica, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    font-style: normal;
    height: 41px;
    line-height: 41px;
    width: 153px;
    text-decoration: none;
    text-align: center;
}
.main-page-intro h1, .main-reg-user-type {
    font-family: Arial Black;
    color: #ff9251;
    text-shadow: #333333 6px 0px, #333333 1px 1px, #333333 0px 1px, #333333 -1px 1px, #333333 -1px 0px, #333333 -1px -1px, #333333 0px -1px, #333333 1px -1px, #333333 0 0 3px, #333333 0 0 3px, #333333 0 0 3px, #333333 0 0 3px, #333333 0 0 3px, #333333 0 0 3px, #333333 0 0 3px, #333333 0 0 3px;
}
/*****Main page - leyout*****/